@media only screen and (max-width: 959px) {


    .img-head-size {
        width: 112vw;
    }

    .conteudo {

        font-size: 32px;


    }

    .flex-1 {
        flex: 1;
        min-width: 45%;
    }

    .max-width {
        padding: 0;
    }
    .sub{
        font-size: 20px;
    }
    .container-img-object-1{
       object-fit: fill;
    }



}